.ScrollToBottomBtn {
  background-color: #9ee6b1;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  cursor: pointer;
  background-color: rgba(229, 231, 235, var(--bg-opacity));
}
::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, var(--bg-opacity));
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #9ee6b1;
}
